{{#each product}}
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    <p>{{this.teacherName}}</p>
    {{#each this.product}}
       <p>{{this.name}}</p>
       <p>{{this.lastName}}</p>
    {{/each}}
{{/each}}